@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Playfair+Display');
$san-serif:'Open Sans',
sans-serif;
$serif:'Playfair Display',
serif;

$color-shadow:transparentize(#303336, .9);

* {
  user-select:none;
  transition:.3s ease;
  -webkit-font-smoothing:antialiased;
}

html {
  padding:0;
  margin:0 auto;
  width: 100%;
  height: 100vh;
}

.pattern{
  height:.5rem;
  width: 100%;
  background: repeating-linear-gradient(
  45deg,
  #FF5A0D,
  #FF5A0D 10px,
  #59FFE2 10px,
  #59FFE2 20px
);
  opacity: .1;
}

body {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  width: 100%;
  height:100%;
  padding:0;
  margin:0 auto;
  background: #D6FFF5;
  font-size:62.5%;
}

p.title{
    text-decoration: underline;
    margin:0 auto;
    padding:1.2rem 0 2rem 0;
    font-size: 4rem;
    width:100%;
}

.pageTitles {
    padding-top: 2rem;
    margin: 0 auto 1rem 0;
    width:100%;
    height:125px;
    text-align: center;
}

p.home {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    min-width: 360px;
    margin:0 auto;
    padding:0 0 1rem 0;
    width:100%;
    height: 76vh;
    box-shadow: 0rem 2rem 0px 0px rgba(255, 90, 13, .5);
    z-index: 100;
}

#line {
    z-index: -100;
    position: absolute;
    align-items: flex-end;
    width:100%;
    height:29.6%;
    border-bottom:30rem solid #FF5A0D;
    margin:0;
    padding:0;
    opacity:.2;
}

.paper {
  display:flex;
  flex-direction:column;
  margin:1rem 1rem 0 1rem;
  max-width:300px;
  max-height:50rem;
  box-shadow:6px 6px 0px 0px rgba(50, 50, 90, .2);
  transition:.1s ease;
  background:white;
  text-align:center;
}

.paper:hover {
  box-shadow: 15px 18px 35px rgba(50, 50, 90, .2), 0 18px 40px rgba(0, 0, 0, .07);
  transform: translateY(-5px);
  transform: translateX(-5px);
}

.paper2{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  margin:1rem 2rem 2rem 2rem;
  width:300px;
  height:150px;
  box-shadow:0px 6px 0px 0px rgba(255, 90, 13, 1);
  transition:.1s ease;
  background:white;
  text-align:center;  
}

.paper3{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin:1rem 2rem 2rem 2rem;
    max-width:750px;
    max-height:750px;
    box-shadow:0px 6px 0px 0px rgba(255, 90, 13, 1);
}

.paper4{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding:1rem 0 0 0;
    margin: 0 auto;
    max-width:640px;
    max-height:360px;
    box-shadow:0px 6px 0px 0px rgba(255, 90, 13, 1);
}

img {
  padding:0;
  margin:0;
  max-width: 100%;
  max-height: 100%;
}

.Bio_Poster{
  background:white;
  border-radius:0px;
  height:100%;
}

.poster {
  height:100%;
}

h1 {
  font-family: $serif;
  text-align: left;
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 2.8rem;
  margin: 0 auto;
  width:250px;
  color: #59FFE2;
}

h2 {
  font-size: .55rem;
  color: #A0A6AB;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: $san-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

hr {
  width: 23%;
  padding-top: 1rem;
  border: 0;
  border-bottom: 1px solid #E6E9EC;
}

#header_Bio{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: $serif;
    text-align: left;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 2.8rem;
    margin: 0 auto;
    padding: .5rem;
    width:250px;
	color:#FF5A0D;
}

a {
    text-align: center;
    font-size:0.7rem;
    text-decoration: none;
    color:#AAAAAA;
    transition:.1s ease;
    padding:1rem;
}

a:hover {
  color:#FF5A0D;
  border-bottom:1px solid #FF5A0D;
  text-align: center;
  box-shadow: 3px 3px 3px rgba(50, 50, 90, .2), 0 3px 4px rgba(0, 0, 0, .07);
  transform: translateY(-5px);
  transform: translateX(-5px);
}

a.noStyle{
    text-align: none;
    font-size: none;
    text-decoration: none;
    color:none;
    transition: none;
    padding:0;
}

a.noStyle:hover{
    color:none;
    border-bottom:none;
    text-align: none;
    box-shadow: none;
    transform: none;
}

a.button {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  letter-spacing: .07rem;
  border-radius: 1px;
  background: white;
  color:#aaa;
  font-weight: bold;
  font-family:$san-serif;
  font-size:.8rem;
  padding: 0.5rem 1rem;
  transition: transform .4s ease;
}

a.button:hover {
  font-size:.8rem;
  border-radius:10px;
  color:#FF5A0D;
  margin:0;
  padding: 0.48rem 1.5rem;
  transform: translateY(-2px);
  transform: translateX(-4px);
}

a.button:active {
  box-shadow:0 20px 20px rgba(0, 0, 0, .8);
}

p {
  display: flex;
  justify-content: center;
  text-align:left;
  color: #AAAAAA;
  font-family: $serif;
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.25rem;
  margin: 0 auto;
  width:250px;
  padding-top:.5rem;
  padding-bottom: 1vh;
}

.space{
  height:2rem;
}

@media screen and (max-width: 768px){
	body {
		display:flex;
		flex-direction:column;
		justify-content: space-between;
		width:400px;
	}
	.paper{
		width:300px;
	}
}