$color-shadow:transparentize(#303336, .9);

* {
  user-select:none;
  transition: 1s ease;
  -webkit-font-smoothing:antialiased;
}

html{
  font-family: 'Raleway', sans-serif;
  position: absolute;
  padding:0;
  margin:0 auto;
  width: 100%;
  height: 100%;
  background: #333333; 
}

body{
  position: absolute;
  width: 100%;
  height: 100vh;
  padding:0;
  margin:0 auto;
  font-size:62.5%;
}

.pageTitles{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin: 0 auto;
    width:100%;
    text-align: center;
}

a{
    font-family: 'Titillium Web',sans-serif;
    text-align: center;
    font-size:0.7rem;
    text-decoration: none;
    color:#AAAAAA;
    transition:.1s ease;
    padding:1rem;
}

a:hover{
  color:#00ccd6;
  text-align: center;
}

p.home{
    font-family: 'Titillium Web',sans-serif;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:0;
    margin:0;
    width: 100%;
    background-color: #333333;
    z-index: 50;
}

p.home a{
        width:8.8%;
        font-size: .6rem;
        font-weight: bold;
        letter-spacing: 1.5px;
        color: #efefef;
        transition: ease .6s;
        opacity: 0.6;
    }

p.home a:hover{
    color: #00ccd6;
    letter-spacing: 3px;
    opacity: 1;
}

.fade{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
}

.container{
    position: absolute;
    display: flex;
    justify-content:flex-start;
    flex-wrap:wrap;
    margin: 0 auto;
    width:56.9rem;
    height:100vh;
}

.paperBio{
    display: flex;
    flex-direction: row;
    margin:0 auto;
    width: 900px;
    height:300px;
    background: white;
    text-align: justify;
    border-bottom: solid 1rem black;
}

#Bio_Image{
    width:300px;
    height:300px;
}

.Bio_Poster{
  background:white;
  border-radius:0px;
  height:100%;
  width: 100%;
}

#header_Bio{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: $serif;
    text-align: left;
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
    margin: 0 auto;
    padding: .5rem 0 0 0;
    width:250px;
	color:#333333;
}

.Bio_Poster p{
    font-family: 'Titilium Web', sans-serif;
    font-weight: normal;
    color:#333333;
    display: flex;
}


#email {
    color:#00ccd6;
    padding:0;
    margin:0 auto;
}

.paper{
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 300px;
  max-height: 50rem;
  transition: .1s ease;
  background: white;
  text-align: justify;
}

.paper:hover{
  box-shadow: 0px 0px 0px 10px rgba(255,217,0, 1);
  transform: translateX(-5px);
}

img{
  padding:0;
  margin:0;
  max-width: 100%;
  max-height: 100%;
}

.poster h1{
    margin-top:1rem;
    font-weight:bolder;
    letter-spacing: normal;
    font-kerning: 1rem;
    transition: 0.5s ease;
}

.poster h1:hover{
    transform: translateX(5px);
}

.poster p{
    font-family: 'Titilium Web', sans-serif;
    color:#333333;
}

.paper2{
  display:flex;
  margin:1rem 1rem 1rem 1rem;
  width:300px;
  height:150px;
  background:white;
  text-align:center;  
}

.paper3{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding:0;
    margin: 1rem 1rem;
    width:100%;
    height:auto;
}

.paper4{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-right: 0;
    padding-left: 0;
    margin: 0 1rem;
    width:auto;
    height: 360px;
}

/*

.flex-video{
  height: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  margin-top: 1rem;
  padding-bottom: 65%;
  position: relative;
}

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video{
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

*/

.poster{
  height:100%;
}

h1{
  font-family: 'Bitter', serif;
  text-align: left;
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 2.8rem;
  margin: 0 auto;
  width:250px;
  color: #00ccd6;
}

h2{
  font-size: .55rem;
  color: #A0A6AB;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-family: $sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

hr{
  width: 50%;
  padding-top: 1rem;
  border: 0;
  border-bottom: 1px solid #E6E9EC;
}

a.noStyle{
    text-align: none;
    font-size: none;
    text-decoration: none;
    color:none;
    transition: none;
    padding:0;
}

a.noStyle:hover{
    color:none;
    border-bottom:none;
    text-align: none;
    box-shadow: none;
    transform: none;
}

a.button{
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-transform: lowercase;
  text-decoration: none;
  line-height: 20px;
  letter-spacing: .07rem;
  background: white;
  color: #00ccd6;
  font-weight: bold;
  font-family: 'Titillium Web',san-serif;
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  width: 50%;
  transition: 0.3s ease;
}

a.button:hover{
    width:60%;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    box-shadow: none;
    text-transform: uppercase;
    transform: translateX(0px);
}

p{
  display: flex;
  justify-content: center;
  text-align:left;
  font-family: $serif;
  font-weight: 400;
  font-size: .9rem;
  line-height: 1.25rem;
  margin: 0 auto;
  width:250px;
  padding-top:.5rem;
  padding-bottom: 1vh;
}

.space{
  height:2rem;
}

/* @MEDIA MAX 768px *//* @MEDIA MAX 768px *//* @MEDIA MAX 768px */
/* @MEDIA MAX 768px *//* @MEDIA MAX 768px *//* @MEDIA MAX 768px */
/* @MEDIA MAX 768px *//* @MEDIA MAX 768px *//* @MEDIA MAX 768px */
/* @MEDIA MAX 768px *//* @MEDIA MAX 768px *//* @MEDIA MAX 768px */

@media screen and (max-width: 768px){
	body{
		display:flex;
		flex-direction:column;
		justify-content: space-between;
		width:100%;
	}
	.paper{
		width:300px;
	}
    
    .Behance{
        display: none;
    }
    
    .Instagram{
        display: none;
    }
    
    .LinkedIn{
        display: none;
    }
    
    .container{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:0 auto;
    padding:0rem 0rem 0rem 0rem;
    width:100%;
    z-index: 100;
}
    
    .pageTitles{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin: 0 auto;
    width:100%;
    text-align: center;
}
    
    p.home a{
        font-family: 'Titillium Web',sans-serif;
        width:15.5%;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 1.5px;
        color: #efefef;
        transition: ease .6s;
    }

    p.home a:hover{
    color: #00ccd6;
    transform: translateY(-3px);
    letter-spacing: 3px;
}

    p.home{
    width: 100%;
    padding:0;
    margin:0;
}
.paperBio{
    display: flex;
    flex-direction: row;
    margin:0 auto;
    max-width: 600px;
    min-height:300px;
    background: white;
    text-align: justify;
    border-bottom: solid 1rem black;
}

#Bio_Image{
    width:300px;
    height:300px;
}

.Bio_Poster{
  background:white;
  border-radius:0px;
  height:300px;
  width: 100%;
}

#header_Bio{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: $serif;
    text-align: left;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
    margin: 0 auto;
    padding: .5rem 0 0 0;
    width:250px;
	color:#333333;
}

.Bio_Poster p{
    font-family: 'Titilium Web', sans-serif;
    font-weight: normal;
    color:#333333;
    display: flex;
}
}

/* @MEDIA MAX 500px *//* @MEDIA MAX 500px *//* @MEDIA MAX 500px *//* @MEDIA MAX 500px *//* @MEDIA MAX 500px *//* @MEDIA MAX 500px *//* @MEDIA MAX 500px *//* @MEDIA MAX 500px *//* @MEDIA MAX 500px */

@media screen and (max-width: 500px){
    
    .pageTitles{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin: 0 auto;
    width:100%;
    text-align: center;
}
    
    p.home a{
        font-family: 'Titillium Web', sans-serif;
        width:100%;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 1.5px;
        color: #efefef;
        transition: ease .6s;
    }

    p.home a:hover{
    background-color: #00ccd6;
    color: #424242;
    transform: translateY(-3px);
    letter-spacing: 3px;
}
    
    .paper2{
        width:290px;
        height:150px;
    }
    
.paperBio{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin:0 auto;
    width: 300px;
    height:600px;
    background: white;
    text-align: justify;
    border-bottom: solid 1rem black;
}

#Bio_Image{
    width:300px;
    height:300px;
}

.Bio_Poster{
  background:white;
  border-radius:0px;
  height:300px;
  width: 100%;
}

#header_Bio{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-family: $serif;
    text-align: left;
    font-size: 3rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
    margin: 0 auto;
    padding: .5rem 0 0 0;
    width:250px;
	color:#333333;
}

.Bio_Poster p{
    font-family: 'Titilium Web', sans-serif;
    font-weight: normal;
    color:#333333;
    display: flex;
}
    
}

/* @MEDIA MAX 320px *//* @MEDIA MAX 320px *//* @MEDIA MAX 320px */
/* @MEDIA MAX 320px *//* @MEDIA MAX 320px *//* @MEDIA MAX 320px */
/* @MEDIA MAX 320px *//* @MEDIA MAX 320px *//* @MEDIA MAX 320px */
/* @MEDIA MAX 320px *//* @MEDIA MAX 320px *//* @MEDIA MAX 320px */

@media screen and (max-width: 320px){
    
body{
		display:flex;
		flex-direction:column;
		justify-content: space-between;
	}
.paper{
		width:300px;
	}
    
.Behance{
        display: none;
    }
    
.Instagram{
        display: none;
    }
    
.LinkedIn{
        display: none;
    }
    
.container{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:0 auto;
    padding:0;
    width:100%;
    z-index: 100;
}
    
.pageTitles{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin: 0 auto;
    width:100%;
    text-align: center;
}
    
    p.home a{
        font-family: 'Titillium Web', sans-serif;
        width:100%;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 1.5px;
        color: #efefef;
        transition: ease .6s;
    }

    p.home a:hover{
    background-color: #ffd900;
    color: #424242;
    letter-spacing: 3px;
}
    
.paper{
  display:flex;
  flex-direction:column;
  margin:0.5rem 0 0 0;
  padding: 0;
  max-width:300px;
  max-height:50rem;
  box-shadow:none;
  transition:.1s ease;
  background:white;
  text-align:center;
}
    
    .paper:hover{
        box-shadow: none;
        transform: none;
    }
    
    .paper a img{
        display: none;
    }
    
    .poster h2{
        display: none;
    }
    
    .poster h1{
        padding:0 0 0 0.5rem;
        width: 85%;
        float:left;
        font-size: 2.4268rem;
    }
    
    .poster p{
        width: 230px;
    }
    
    .poster h1:hover{
        transform: none;
    }
    
    #header_Bio{
        width:80%;
        font-size: 2.4268rem;
    }
    
    .Bio_Poster p{
        width: 230px;
    }
    
    .paper2{
        height: 125px;
        margin: 0.5rem;
        box-shadow:0px 6px 0px 0px rgba(51,51,51,1);
    }
    
    .paper3{
        margin:0.5rem;
        height:auto;
        box-shadow:0px 6px 0px 0px rgba(51,51,51,1);
    }
    
}