/* Small Devices */
@media only screen and (max-width: 767.5px) {
    
    .navbar-default .navbar-collapse, 
    .navbar-default .navbar-form{
        border-color: #4717F6;
        position: absolute;
        margin: 0;
        left: 0;
        top: 50px;
        width: 100%;
        background-color: #0E0B16;
        border-top: 1px solid #4717F6;
        border-bottom: 1px solid #4717F6;
    }
    
}